<header id="page-top" class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        
          <img class="img-circle" src="../../assets/img/VirajImage.jpg"  alt="Cinque Terre" width="152" height="152"> 
        <h1 class="text-uppercase">
          <strong>Viraj Nilakh, Full Stack Application Developer</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5">I am a highly passionate Computer Professional with an enthusiasm of accepting new challenges. I am looking forward for a full time opportunity where I can utilize my skills and get an opportunity to learn, contribute and grow with the organization. </p>
        <p class="text-faded mb-5"> Being an avid learner and having a curious mind has always kept me in a hunt for finding and solving challenges. I am a team player who always goes out of bounds to help his teammates. Having a can-do attitude and being hard working has helped me succeed in life.</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
      </div>
    </div>
  </div>
</header>