<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">About Me :)</h2>
        <hr class="light my-4"> 
        <p class="text-faded mb-4">I am a friendly, fun loving person, full of energy, always optimistic towards life. As far as social life is concerned, I am a party animal and I love hanging out with my friends. I like road trips, adventure sports and star gazing the most.</p>
        <p class="text-faded mb-4">As a person, I believe that nothing is impossible in life if you put your heart to it. The more a problem is difficult to solve, the more dedicated I become in solving it. I love challenges and if given an option I will choose the difficult one . That's why I have selected hardest courses in my university for getting most out of it and me.I have always believed in pushing my limits. I am knowledge hungry and a quick learner too. Because there are so many things to learn, I don't wanna be left behind.</p>
        <p class="text-faded mb-4">My love for technology started by playing video games and watching animated movies. Other things I like is singing and playing guitar. So yeah that's all about me. I also wanna hear all about you guys.So connect with me on LinkedIn and we can chat.</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#resume">Get Started!</a>
      </div>
    </div>
  </div>
</section>