<li>
  <div class="timeline-badge info"><i class="glyphicon glyphicon-check"></i></div>
<div class="timeline-panel" style="background:white;">
  <div class="timeline-heading">
    <h4 class="timeline-title">{{project.title}}</h4>
<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> May’17-Aug’17</small></p>
    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> (Java, AWS, EC2, Bootstrap, Angular, REST, HTML)</small></p>
  </div>
  <div class="timeline-body">
<ul>
<li>Led a team of 4 to design a cloud-scale multi-user application to book parking slots around San Jose State University on AWS</li>
<li>Executed modules for Customer and Admin with navigation features and data analytics using Google Maps &amp; Charts API</li>
<li>Enforced CAP theorem &amp; enhanced the performance of application using web caching by reducing the server requests</li>
<li>Guaranteed load balancing using Elastic Load Balancers(AWS-ELB) and system availability using autoscaling</li>
</ul>
   </div>
</div>
</li>